---
name: Pull Request checks

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  terraform-docs:
    name: Terraform Documentation validation
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633  # v4.1.2
      - name: run terraform-docs
        uses: terraform-docs/gh-actions@f6d59f89a280fa0a3febf55ef68f146784b20ba0  # v1.0.0
        with:
          config-file: .terraform-docs.yaml
          fail-on-diff: true

  terraform-fmt:
    name: Terraform Formatting
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633  # v4.1.2
      - name: setup terraform
        uses: hashicorp/setup-terraform@a1502cd9e758c50496cc9ac5308c4843bcd56d36  # v3.0.0
      - name: terraform fmt
        run: terraform fmt -check -diff -recursive ./

  terraform-validate:
    name: Terraform config validation
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633  # v4.1.2
      - name: setup terraform
        uses: hashicorp/setup-terraform@a1502cd9e758c50496cc9ac5308c4843bcd56d36  # v3.0.0
      - name: terraform init
        run: terraform init
      - name: terraform validate
        run: terraform validate

  tflint:
    name: Run TFLint
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633  # v4.1.2
      - name: Cache plugin dir
        uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2  # v4.0.0
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.tflint.hcl') }}
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@19a52fbac37dacb22a09518e4ef6ee234f2d4987  # v4.0.0
      - name: Init TFLint
        run: tflint --init
      - name: Run TFLint
        run: tflint -f compact

  yaml-lint:
    name: Check YAML linting
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633  # v4.1.2
      - name: run yamllint
        run: |
          yamllint .
